@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

:root {
    --background: #fffffe;
    --headline: #094067;
    --paragraph: #5f6c7b;
    --modal-bg: #5f6c7baa;
    --button: #3da9fc;
    --button-text: #fffffe;
    --ff: 'Open Sans', sans-serif;
}

body {
    background-color: var(--background);
    font-family: var(--ff);
}

/* main */
main {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    overflow: hidden;
}

.hero-left {
    margin: 2rem;
}

section h1 {
    font-size: 42px;
}

.btn {
    background-color: var(--button);
    color: var(--background);
    border: var(--button) 3px solid;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 14px;
}

.btn:hover {
    background-color: var(--background);
    color: var(--button);
    transition: all 0.3s linear;
}

.hero-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/* modal */
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: fixed var(--modal-bg);;
    display: none;
}

.modal-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    border-radius: 5px;
    background-color: var(--background);
    padding: 1rem;
}

.modal-header {
    position: relative;
    height: 2rem;
}

#modal-close-btn {
    background-color: var(--background);
    border: none;
    color: var(--headline);
    font-size: 24px;
    position: absolute;
    right: 0;
    padding: 0;
    transition: all 0.3s linear;
    cursor: pointer;
}

#modal-close-btn:hover {
    color: var(--button);
    transform: rotate(90deg);
}

.modal-body h2 {
    color: var(--headline);
    font-size: 32px;
}

.modal-body p {
    color: var(--paragraph);
    padding: 1rem;
}

@media only screen and (min-width: 800px) {
    main {
        flex-direction: row;
        height: 100vh;
    }

    section {
        margin-top: 0;
    }

    .hero-left {
        min-width: 300px;
    }

    .hero-img {
        height: 100%;
    }
}